
/*------------------------------------------------*/
/*-----------------[ARTÍCULOS]--------------------*/
/*------------------------------------------------*/

/* Resumen de artículos */
.articulos {
	padding: 0px 1.5rem;
	width: 100%;
	float: left;
	clear: none;
	margin: 0;

	@media (max-width: $tablet-width) {
		width: 94%;
		margin: 3%;
	}
	.articulo { 
		margin-bottom: 1.5rem;

		.titulo a {
			line-height: 1em;
			color: $azure;
			font-family: $light-font;
			border-bottom: 1px solid #333;
			width: 100%;
			display: block;
		}
		.titulo a:hover {
			color: $amarillo;
		}
		.meta {
			font-size: .9rem;
			line-height: 1;
			margin: 0 0 1rem;
			padding: 0;
			color: #888; 
		}
		.thumb {
			display: none;
		}

	}
}

